<img
  id="personaje"
  [src]="characterImageSrc"
  alt="Personaje Principal"
  [style.transform]="isFacingRight ? 'scaleX(1)' : 'scaleX(-1)'" />

<!--
  Se usa la nueva propiedad pública 'coordenadasParaDebug'
  que se actualiza dentro del PersonajeComponent.

<div class="debug-coordenadas" *ngIf="coordenadasParaDebug">
  <h4>Coords Debug:</h4>
  <p>Mundo X: {{ coordenadasParaDebug.posX }}</p>
  <p>Mundo Y (desde abajo): {{ coordenadasParaDebug.posY }}</p>
  <p>Scroll Mapa Y (top CSS): {{ coordenadasParaDebug.mapScrollY }}</p>
  <p>Visual Personaje Y (bottom CSS): {{ coordenadasParaDebug.visualPosY }}</p>
</div>-->
