   /* Estilos para los componentes principales de la aplicación (si son globales) */
   app-navbar {
     display: block; 
     position: fixed; 
     width: 100%;
     top: 0;
     left: 0;
     z-index: 100; /* Navbar por encima del contenido del router-outlet */
   }

   /* app-mapa ya no se estiliza aquí si está dentro de HomeComponent */

   .page-content-wrapper {
     padding-top: 60px; /* AJUSTA ESTO A LA ALTURA DE TU NAVBAR */
     /* Este padding asegura que el contenido cargado en router-outlet
        (HomeComponent o VistaProyectoDetalleComponent) no quede oculto. */
   }

   /* Los estilos específicos de la animación de intro y de las secciones
      (sobremi, experience-section, project-cards-container, etc.)
      DEBEN MOVERSE A home.component.css
   */
   