body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(to bottom, #021A37, #020617);

  min-height: 100vh; 

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}